APP_HOST=narmypayroll.gitgar.com
PAYROLL_HOST=narmypayroll.gitgar.com
WEBSITE_HOST=narmysite.gitgar.com
DATABASE_URL=postgres://app:replace-me@65.108.130.180:5432/app_production
REDIS_URL=redis://default:replace-me@i85ic49zy14c888f9mm3ptzq:6379/0
ACTIVE_STORAGE_SERVICE=minio
ACTIVE_STORAGE_ENDPOINT=http://65.108.130.180:9000
ACTIVE_STORAGE_BUCKET=narmy-active-storage
ACTIVE_STORAGE_ACCESS_KEY_ID=replace-me
ACTIVE_STORAGE_SECRET_ACCESS_KEY=replace-me
ACTIVE_STORAGE_REGION=us-east-1
FORCE_SSL=true
RAILS_LOG_LEVEL=info
SECRET_KEY_BASE=replace-with-a-long-random-string
